/* Base */
:root {
    --main-color: #fd6262ce;
    --link-color: #007bff;
    --link-hover-color: #ff7c7c;
  }

html, body {
    margin: 0;
    padding: 0;
    background-color:var(--main-color) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
    color: var(--link-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover{
    color:var(--link-hover-color);
}



#before-header{
    background-color: var(--main-color) ;
    width: 100%;
    height: 4px;
}

.scroll-adjust {
    padding-top: 64px;
    margin-top: -64px;
}

.text-right {
    text-align: right!important;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.dark-ribbon {
    display: inline-block;
    border: 12px solid #333;
    border-radius: 2px;
    width: 40px;
}

.fa-space-right {
    margin-right: 8px;
}

.fa-space-left {
    margin-left: 8px;
}

.font-weight-bold {
    font-weight: 700!important;
}

.flexClass {
    display: flex;
    flex-direction: row;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.light-ribbon {
    display: inline-block;
    border: 12px solid #fff;
    border-radius: 2px;
    width: 40px;
}

.section-title {
    font-size: 50px;
    font-family: 'Yellowtail', cursive;
    display: inline-block;
}

.ribbon-left {
    border-right: 0;
    border-left: 12px solid transparent;
    margin-right: 13px;
}

.ribbon-right {
    border-left: 0;
    border-right: 12px solid transparent;
    margin-left: 13px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.text-center {
    text-align: center!important;
}

.link {
    text-decoration: none;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.fa, .fas {
    font-weight: 900;
}


/*Header */
header {
    position: fixed;
    width: 100%;
    height: 50px;
	top:0px;
	background-color:white;
    z-index: 10000000001;
    box-shadow: -5px 3px 7px 0px rgb(0 0 0 / 54%);

}

#header-content{
    width: 100%;
    top:4px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo{
    padding-top: 0.2%;
    height: 40px;
    margin-left:3%;
    cursor: pointer;
}

nav{
    padding-top: 0.3%;
    text-align: center;
    
    }

nav ul {
    list-style: none;
    height: 5%;
    padding:0;
    margin: 0;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    padding: 9px 20px;
    color:#696969;
    text-decoration: none;
    font-size: 110%;
}

nav ul li a:active {
    color:#000;
}

nav ul li a:focus {
    color:#000;
}

#navbar_toggler {
    display: none;
    height: 40px;
    width: 40px;
}

#navbar_toggler:focus {
    outline: none;
}

#navbar_container {
    width: 100%;
}

#navbar_container .navbar-nav {
    justify-content: flex-end;
}

#navbar_container.opened {
    opacity: 1;
    visibility: visible;
}

.fa-1x {
    font-size: 1.5rem;
}

/* Introduction*/
.block-introduction{
    margin-top: 45px;
    background:url("../img/bck.jpg");
     background-size: cover;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    text-align: center!important;

}

#introduction_info{
    margin-top: 100px;
    width: 400px;
    background: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 2px;
    border-top: 5px solid var(--main-color);
}

.name-title{
    color: #333;
    font-size: 50px;
    font-family: 'Yellowtail', cursive;
}

.separator{
    max-width: 50px;
    border-width: 3px;
    border-radius: 6px;
}

.pink-separator{
    border-color: var(--main-color);
}

.post-title{
    color: #444;
    font-size: 30px;
}

/* about */
.typewriter {
	height:100%!important;
}

.infolg {
    color: #fff;
    padding: 50px 0;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.about-image {
    height: auto;
    width: 200px;
}

.img-frame {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px;
    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.about-text {
    padding: 0 30px;
    display: flex;
}

.about-text > p {
    padding-top:3%;
    padding-right: 5%;
    
}

.dark-link {
    color: #333;
    font-weight: bold;
}

/* Mes formations */
.training {
    background-color: #ddd;
    padding-top: 50px;
    padding-bottom: 20px;
}

.timeline {
    list-style: none;
    position: relative;
    min-width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0;
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
    padding-left: 50px;
}


.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 10px;
    background-color: #333;
    left: 50%;
    margin-left: -10px;
    -webkit-transform: skew(0deg, -30deg);
    -ms-transform: skew(0deg, -30deg);
    transform: skew(0deg, -30deg);
    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

.timeline li .tl-circ {
    position: absolute;
    top: 26px;
    left: 50%;
    text-align: center;
    background: #333;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    border: 3px solid #fff;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99;
    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.timeline li .timeline-panel {
    width: calc(50% - 60px);
    float: left;
    background: #fff;
    border-top: 5px solid var(--main-color);
    padding: 15px;
    position: relative;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.timeline li .tl-circ-current {
    border-color: var(--main-color);
}

.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li:after {
    clear: both;
}

.timeline li .timeline-panel p {
    margin-bottom: 3px;
}

.timeline li.timeline-inverted {
    padding-left: 0;
    padding-right: 50px;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline:after {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 10px;
    background-color: #333;
    left: 50%;
    margin-left: 0px;
    -webkit-transform: skew(0deg, 30deg);
    -ms-transform: skew(0deg, 30deg);
    transform: skew(0deg, 30deg);
    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.black-link {
    color: #212529;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

/* Mes compétences */
.complg {
    background-color: #333;
    color: #fff;
    padding: 50px;
}

.compDesc {
    margin: 0 auto;
     width: 100%;
}

.CV {
    margin-top: 30px;
    padding: 20px 20px 10px 20px;
    max-height: 50%;
    color: #333;
   
}

.cv-screen {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    border-radius: 2px;
    border-top: 5px solid var(--main-color);
    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.download-cv {
    margin:  3% 0% 0% 0%;
  }
  
.cv-btn {
    text-align: center;
}

.btn {
    display: inline-block;
    line-height: 1;
    -webkit-border-radius: 3px;
    border-radius: 3px !important;
    border: none;
    fill: #fff;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 15px;
    padding: 12px 24px;
    color: #FFF !important;
    background-color: var(--main-color);
    background: var(--main-color);
    text-shadow: none;
    width: auto;
}

.skills-charts {
    padding-left: 50px;
}

.skills-chart {
    padding: 20px 20px 20px 10px;
    margin-top: 50px;
    border-radius: 2px;
    border-top: 5px solid var(--main-color);
    background-color: #fff;
    color: #333;
}

.skills-chart p {
    margin-bottom: 3px;
}

.skills-list-title {
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.bar {
    height: 25px;
    margin: 0 auto 10px auto;
    background-color: #ddd;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 30%);
}

.bar-inner {
    position: relative;
    height: 100%;
    width: 90%;
    background-color: #fd6262ce;
    border-radius: 2px;
}

.bar-inner::after {
    position: absolute;
    right: 5px;
    content: attr(data-percent);
    line-height: 25px;
    color: #fff;
    font-weight: 700;
}

.bar-85 {
    width: 85%;
}

.bar-75 {
    width: 75%;
}

.bar-65 {
    width: 65%;
}

.bar-50 {
    width: 50%;
}

.bar-40 {
    width: 40%;
}

.bar-30 {
    width: 30%;
}

.bar-15 {
    width: 15%;
}

/*Portfolio section */
.portfolio-section-cl {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    margin-bottom: 30px;
}

.thumbnail-frame {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px;
    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
}

.thumbnail-img {
    height: 360px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50%;
    object-position: 50%;
}

.project-description {
    margin: 5px 0 5px 5px;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    height: 360px;
    width: calc(100% - 10px);
    background-color: rgba(0,0,0,0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    -o-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
}

.project-description-title {
    font-size: 22px;
}

.project-description-text {
    font-style: italic;
    color: #ddd;
}

.thumbnail-frame:hover .project-description {
    visibility: visible;
    opacity: 1;
}

.category-separator {
    position: relative;
    font-size: 15px;
}

.category-separator:before {
    content: " ";
    position: absolute;
    border-bottom: 1px solid #ddd;
    width: 25%;
    height: 13px;
    display: inline;
    margin-left: calc(-25% - 8px);
}

.category-separator:after {
    content: " ";
    position: absolute;
    border-bottom: 1px solid #ddd;
    width: 25%;
    height: 13px;
    display: inline;
    margin-left: 8px;
}

.tag {
    padding: 5px;
    background-color: var(--main-color);
    border-radius: 5px;
}

.visit-button {
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 3px;
    color: #fff;
}

.gitHub-logo {
    width: 75px;
}

/* Fin portfolio section */

/* Début footer */
.contact-section {
    background-color: #333;
    color: #fff;
    padding: 50px 40px 50px 40px;
}

.contact-title {
    padding-bottom: 50px;
}

.footer-icon {
    color: #aaa;
    font-size: 30px;
    margin-right: 10px;
}
/* Fin Footer */

/* Debut Back To Top */
.BackToTop {
    display: none;
    padding: 20px;
    font-size: 23px;
    text-align: center;
    color: #fff;
    background: rgba(253, 98, 98, 0.8);
    z-index: 99999;
    transition: all ease-in 0.2s;
    position: fixed;
    cursor: pointer;
    bottom: 1em;
    right: 20px;
    box-sizing: border-box;
    border-radius: 15%;
    -moz-border-radius: 15%;
    -webkit-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.BackToTop:before {
    content: "\25b2";
}
.BackToTop:hover {
    background: rgba(158, 122, 166, 0.7);
    transition: all ease-in 0.2s;
}
/* Fin Back To Top */

.lg_anglais{
	display:none;
}



@media (max-width: 466px){
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 466px)
{
    body {
        font-size: 14px;
    }
    .name-title {
        font-size: 60px;
    }
    .post-title {
        font-size: 25px;
    }
    .about-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-title {
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.67%;
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 65%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 900px)
{
    #about-image-div {
        -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
                justify-content: flex-start !important;
    }
}

@media all and (max-width: 830px)
{
    #navbar_toggler {
        display: block;
    }

    #navbar_container {
        position: fixed;
        top: 51px;
        left: 0;
        background: #fff;
        width: 100vw;
        padding: 5px;
        transition: all ease .4s;
        opacity: 0;
        visibility: hidden;    
    }

    #navbar_container .navbar-nav {
        padding: 0 8%;
    }

    .nav-item {
        border-top: 1px solid #ccc;
    }
    .about-text {
        padding-top: 50px;
    }
    .timeline li {
        padding-left: 25px;
    }
    .timeline:before {
        left: auto;
        right: 35px;
    }
    .timeline:after {
        left: auto;
        right: 25px;
    }
    .timeline li .tl-circ {
        left: auto;
        right: 18px;
    }
    .timeline li .timeline-panel {
        width: calc(100% - 70px);
    }
    #contact-form {
        padding-bottom: 25px;
    }
    .contact-section {
        padding: 50px 10px;
    }
}

@media all and (max-width: 930px)
{
    .skills-charts {
        padding-left: 15px;
    }
}


